jupyter-notebooks/experiments/data/
**/goodman_log.txt
**/.ipynb_checkpoints
.idea
WCS_problem/jupyter/data/
jupyter-notebooks/presentations/Goodman_data_reduction/fits/
/jupyter-notebooks/SOAR_Analisys/GSP API Query Example/secrets.cfg
